n8n-workflows/01-order-paid-production-job.json
{
  "name": "01 - Order Paid → Production Job",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gm-order-paid",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook - gm-order-paid",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "gm-order-paid"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true },
          "conditions": [
            {
              "id": "secret-check",
              "leftValue": "={{ $json.headers['x-gm-secret'] }}",
              "rightValue": "={{ $env.GM_WEBHOOK_SECRET }}",
              "operator": { "type": "string", "operation": "equals" }
            }
          ]
        }
      },
      "id": "validate-secret",
      "name": "Validate Secret",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": false, \"error\": \"Unauthorized\" }",
        "options": { "responseCode": 401 }
      },
      "id": "reject-401",
      "name": "401 Unauthorized",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [680, 460]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true }",
        "options": { "responseCode": 200 }
      },
      "id": "ack-200",
      "name": "200 ACK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [680, 200]
    },
    {
      "parameters": {
        "url": "={{ $env.GM_API_BASE }}/api/automations/inbound/order-queued-email",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-GM-Secret", "value": "={{ $env.GM_WEBHOOK_SECRET }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ customerEmail: $('Webhook - gm-order-paid').item.json.body.customerEmail, customerName: $('Webhook - gm-order-paid').item.json.body.customerName, productName: $('Webhook - gm-order-paid').item.json.body.productName, orderId: $('Webhook - gm-order-paid').item.json.body.orderId }) }}",
        "options": {}
      },
      "id": "send-confirmation",
      "name": "POST order-queued-email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 200]
    }
  ],
  "connections": {
    "Webhook - gm-order-paid": {
      "main": [[{ "node": "Validate Secret", "type": "main", "index": 0 }]]
    },
    "Validate Secret": {
      "main": [
        [{ "node": "200 ACK", "type": "main", "index": 0 }],
        [{ "node": "401 Unauthorized", "type": "main", "index": 0 }]
      ]
    },
    "200 ACK": {
      "main": [[{ "node": "POST order-queued-email", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "tags": ["ghaafeedi", "orders"]
}
