n8n-workflows/02-job-failed-alert.json
{
  "name": "02 - Job Failed → Admin Alert",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gm-job-failed",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook - gm-job-failed",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "gm-job-failed"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true },
          "conditions": [
            {
              "id": "secret-check",
              "leftValue": "={{ $json.headers['x-gm-secret'] }}",
              "rightValue": "={{ $env.GM_WEBHOOK_SECRET }}",
              "operator": { "type": "string", "operation": "equals" }
            }
          ]
        }
      },
      "id": "validate-secret",
      "name": "Validate Secret",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": false, \"error\": \"Unauthorized\" }",
        "options": { "responseCode": 401 }
      },
      "id": "reject-401",
      "name": "401 Unauthorized",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [680, 460]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true }",
        "options": { "responseCode": 200 }
      },
      "id": "ack-200",
      "name": "200 ACK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [680, 200]
    },
    {
      "parameters": {
        "url": "={{ $env.GM_API_BASE }}/api/automations/inbound/job-failed-email",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-GM-Secret", "value": "={{ $env.GM_WEBHOOK_SECRET }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($('Webhook - gm-job-failed').item.json.body) }}",
        "options": {}
      },
      "id": "send-alert",
      "name": "POST job-failed-email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 200]
    }
  ],
  "connections": {
    "Webhook - gm-job-failed": {
      "main": [[{ "node": "Validate Secret", "type": "main", "index": 0 }]]
    },
    "Validate Secret": {
      "main": [
        [{ "node": "200 ACK", "type": "main", "index": 0 }],
        [{ "node": "401 Unauthorized", "type": "main", "index": 0 }]
      ]
    },
    "200 ACK": {
      "main": [[{ "node": "POST job-failed-email", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "tags": ["ghaafeedi", "jobs"]
}
