n8n-workflows/05-subscription-cancelled-reengage.json
{
  "name": "05 - Subscription Cancelled → Re-Engage",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gm-subscription-cancelled",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook - gm-subscription-cancelled",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "gm-subscription-cancelled"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true },
          "conditions": [
            {
              "id": "secret-check",
              "leftValue": "={{ $json.headers['x-gm-secret'] }}",
              "rightValue": "={{ $env.GM_WEBHOOK_SECRET }}",
              "operator": { "type": "string", "operation": "equals" }
            }
          ]
        }
      },
      "id": "validate-secret",
      "name": "Validate Secret",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": false, \"error\": \"Unauthorized\" }",
        "options": { "responseCode": 401 }
      },
      "id": "reject-401",
      "name": "401 Unauthorized",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [680, 460]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true }",
        "options": { "responseCode": 200 }
      },
      "id": "ack-200",
      "name": "200 ACK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [680, 200]
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "hours"
      },
      "id": "wait-2h",
      "name": "Wait 2 Hours",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [900, 200]
    },
    {
      "parameters": {
        "url": "={{ $env.GM_API_BASE }}/api/automations/inbound/reengage-email",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-GM-Secret", "value": "={{ $env.GM_WEBHOOK_SECRET }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($('Webhook - gm-subscription-cancelled').item.json.body) }}",
        "options": {}
      },
      "id": "send-reengage",
      "name": "POST reengage-email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "url": "={{ $env.GM_API_BASE }}/api/automations/inbound/reengage-sent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-GM-Secret", "value": "={{ $env.GM_WEBHOOK_SECRET }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ customerId: $('Webhook - gm-subscription-cancelled').item.json.body.userId, plan: $('Webhook - gm-subscription-cancelled').item.json.body.planName, sentAt: $now.toISO() }) }}",
        "options": {}
      },
      "id": "confirm-reengage",
      "name": "POST reengage-sent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 200]
    }
  ],
  "connections": {
    "Webhook - gm-subscription-cancelled": {
      "main": [[{ "node": "Validate Secret", "type": "main", "index": 0 }]]
    },
    "Validate Secret": {
      "main": [
        [{ "node": "200 ACK", "type": "main", "index": 0 }],
        [{ "node": "401 Unauthorized", "type": "main", "index": 0 }]
      ]
    },
    "200 ACK": {
      "main": [[{ "node": "Wait 2 Hours", "type": "main", "index": 0 }]]
    },
    "Wait 2 Hours": {
      "main": [[{ "node": "POST reengage-email", "type": "main", "index": 0 }]]
    },
    "POST reengage-email": {
      "main": [[{ "node": "POST reengage-sent", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "tags": ["ghaafeedi", "retention", "subscription"]
}
